.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5px;
    padding: 5px;
    }

    
    .texto1{
        font-size: 10px;
        margin: 5px;
        font-family:'Times New Roman', Times, serif;

        h5{
            display: flex;
            justify-content: center;
            font-family:"moon";
            font-size: 24px;
        }

    }
    