.logo1 {
  width: 200px;
  height: 250px;
}

a {
  font-family: moon;
  font-style: none;
}

@font-face {
  font-family: Moon;
  src: url("../fonts/BerkshireSwash-Regular.ttf");
}

.texto {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  margin: 5px;
  padding: 5px;
}

.texto1 {
  font-size: 10px;
  margin: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.texto1 h5 {
  display: flex;
  justify-content: center;
  font-family: "moon";
  font-size: 24px;
}

.publicidad {
  background-color: #F7C3B9;
  display: flex;
  justify-content: center;
}

.publicidad .producto {
  width: 200px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border-style: none;
}

.publicidad .producto__titulo {
  text-align-last: center;
  font-size: 15px;
  font-family: moon;
}

.publicidad button {
  box-shadow: 7px 4px 21px 0px rgba(0, 0, 0, 0.81);
  width: 90px;
}

.publicidad button:hover {
  box-shadow: 7px 4px 14px 6px white;
  width: 90px;
}

.pie {
  grid-column: 1/4;
  grid-row: 4/5;
  background-color: #011C26;
}

.pie .TextoPie {
  text-align-last: center;
  margin: 10px;
  padding: 10px;
  font-size: 10px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.pie h2 {
  font-family: "Moon";
}

.TituloContactos {
  color: #011C26;
  font-family: moon;
  margin: 50px;
  font-size: 30px;
  text-align: center;
}

.Formulario {
  text-align: center;
  background-image: linear-gradient(to left, #C4C7F2, #F7C3B9);
  justify-content: center;
  width: 700px;
  margin: 20px;
  border-radius: 20px;
}

.Formulario img {
  width: 200px;
  transition: all 3s;
  display: flex;
  align-self: center;
  animation-name: movi;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes movi {
  0% {
    transform: traslate 0px, 0px;
  }
  25% {
    transform: translate(50px, 0px);
  }
}

.Formulario button {
  box-shadow: 7px 4px 21px 0px rgba(0, 0, 0, 0.81);
  width: 90px;
}

.Formulario button:hover {
  box-shadow: 7px 4px 14px 6px white;
  width: 90px;
}

.producto2 {
  width: 200px;
  height: 330px;
  background-color: #F7C3B9;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  border-style: none;
}

.producto2 .producto__titulo {
  text-align-last: center;
  font-family: moon;
  font-size: 20px;
}

.producto2 .producto__img {
  width: 200px;
  height: 200px;
}

.producto2 button {
  box-shadow: 7px 4px 21px 0px rgba(0, 0, 0, 0.81);
  width: 90px;
}

.producto2 button:hover {
  box-shadow: 7px 4px 14px 6px white;
  width: 90px;
}

.talleres {
  text-align: center;
  margin: 50px;
  letter-spacing: 5px;
  font-size: 50px;
  font-family: moon;
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

tr th {
  color: #F7C3B9;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.banner {
  width: 100%;
  background-image: url(../img/india.jpg);
  height: 650px;
  background-position: center;
  display: flex;
  justify-content: center;
}

.banner h1 {
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.393);
  line-height: 650PX;
  letter-spacing: 5px;
  font-size: 100px;
  font-family: moon;
}

.ImgTerapias img {
  transition: all 3s;
}

.ImgTerapias img:hover {
  transform: rotatey(380deg);
}

.Vivencias, .vivencia {
  display: flex;
  font-size: 15px;
  background-color: #F7C3B9;
  margin: 5px;
}

.VivenciaTitulo {
  text-align-last: center;
  font-family: moon;
  font-size: 20px;
  margin: 5px;
}

.btn {
  box-shadow: 7px 4px 21px 0px rgba(0, 0, 0, 0.81);
  width: 90px;
  font-family: moon;
}

.btn:hover {
  box-shadow: 7px 4px 14px 6px white;
  width: 90px;
}
/*# sourceMappingURL=style.css.map */