*{
    margin: 0;
    padding: 0;
}

:root{
    --color1: #EF816C;
    --color2: #C4C7F2;
    --color3: #011C26;
    --color4: #ffffff;
}
.logo1{
    width: 200px;
    height: 250px;

}


@font-face {
    font-family: Moon;
    src: url("../fonts/BerkshireSwash-Regular.ttf");
}


a{
  font-family: moon;
  font-style: none;
  color:#011C26;

}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 5px;
    padding: 5px;

}

.texto__1{
    font-size: 10px;
    margin: 5px;
    font-family:'Times New Roman', Times, serif
}

.texto__2{
    font-size: 10px;
    margin: 5px;
    font-family:'Times New Roman', Times, serif
}

.texto__3{
    font-size: 10px;
    margin: 5px;
    font-family:'Times New Roman', Times, serif
}

h5{
    display: flex;
    justify-content: center;
    font-family: "moon";
    font-size: 24px;
}

.publicidad{
    grid-column: 1/4;
    grid-row: 3/4;
    background-color:#C4C7F2;
    display: flex;
    justify-content: center;
  
}

.producto{
    width: 100px;
    height: 140px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    box-shadow: 2px 10px 5px rgba(0, 0, 0, 0.121);
}

.producto__titulo{
    text-align-last: center;
    font-size: 15px;
    font-family: moon;
}




.pie{
    grid-column: 1/4;
    grid-row: 4/5;
    background-color:#011C26;

}

.TextoPie{
    text-align-last: center;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    color:#EF816C;
    font-family: 'Times New Roman', Times, serif;
}

h2{
      font-family: "Moon";
}



/*--------------------CSS CONTACTOS-----------------------------------------------*/

.Formulario{
    text-align: center;
    background-image:linear-gradient( to left, #EF816C,#C4C7F2);
 justify-content: center;                               
    width: 700px;
    margin: 20px;
    border-radius: 20px;
}

.Formulario img{
    width: 200px; 
    transition: all 3s;
    display: flex;
  align-self: center;
}

.Formulario img:hover{
    width: 300px;
    transform: translate(10px,15px);
}

.TituloContactos{
    color:#011C26;
    font-family: "moon";
    margin: 20px;
    font-size: 20px;
    text-align: center;
        }
   
.PieDeContactos{
 color:#EF816C;
 background-color: #011C26;
}

button{
    box-shadow: 7px 4px 21px 0px rgba(0,0,0,0.81);
    width: 90px;
}

button:hover {
    box-shadow:7px 4px 14px 6px white;
    width: 90px;
}


/*--------------------------CSS DE PRODUCTOS-----------------------------------------*/

.producto{
    width: 200px;
    height: 330px;
    background-color:#ffffff;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border-style: none;
     
}


.producto2{
    width: 200px;
    height: 330px;
    background-color:#C4C7F2;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    border-style: none;
     
}


.producto__titulo{
    text-align-last: center;
}

.producto__img{
    width: 200px;
    height: 200px;
}

.PieProductos{
   
    text-align-last: center;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    color:#EF816C;
    font-family: 'Times New Roman', Times, serif;
    background-color: #011C26;

}


/*--------------------------- CSS TALLERES------------------*/

.talleres{

    text-align: center;
    margin: 50px;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: moon;
    animation-duration: 2s;
    animation-name: slidein;
}

  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


   tr th{
        color:#EF816C;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }
    



.PieTalleres{
    text-align-last: center;
    margin: 10px;
    padding: 10px;
    font-size: 10px;
    color:#EF816C;
    font-family: 'Times New Roman', Times, serif;
    background-color: #011C26;
}

/*----------CSS DE TERAPIAS-------------*/


.banner{  
width: 100%;
background-image: url(../img/india.jpg);
height: 650px;
background-position: center;
display: flex;
justify-content: center;
}


.banner h1{
    width: 100%;
    text-align: center;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.393);
    line-height: 650PX;
    letter-spacing: 5px;
    font-size: 100px;
    font-family: moon;
 
}

.ImgTerapias img{
    
  transition: all 3s; 

}

.ImgTerapias img:hover{
    transform: rotatey(380deg);

}


.PieTerapias{
   
        text-align-last: center;
        margin: 10px;
        padding: 10px;
        font-size: 10px;
        color:#EF816C;
        font-family: 'Times New Roman', Times, serif;
        background-color: #011C26;
    
}

